.btn {
  display: inline-block;
  padding: 6px 12px;
  margin: 5px;
  color: white;
  background-color: #ffca48;
  border-radius: 5px;
}
.btn-danger {
  background-color: #ff5837;
}
.btn-small {
  font-size: 0.7em;
  padding: 4px 8px;
  border-radius: 3px;
}
