@import "buttons";
@import "dialogs";
@import "spinner";
@import "navigation";
@import "mixins/flexbox";
@import "views/apiPage";
@import "views/todoPage";
*,
*:after,
*:before {
  box-sizing: border-box;
}
html {
  font-family: "Whitney SSm A", "Whitney SSm B", "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
}
body {
  margin: 0;
}
html,
body {
  height: 100%;
}
label {
  color: #243b47;
  font-size: 1.1em;
}
input[type="text"] {
  border-radius: 6px;
  display: block;
  margin: 0px 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: solid 1px #dcdcdc;
}
input[type="text"]:focus {
  outline: none;
}

.main {
  @include flex(1 1 auto);
  h1 {
    letter-spacing: 3px;
    font-size: 2.5em;
    font-weight: lighter;
    margin: 20px 0;
  }
  .container {
    padding: 20px;
    width: 80%;
    min-width: 700px;

  }

  .footer {
    padding: 20px 30px;
    background-color: #345566;
    color: white;
    font-size: 0.7em;
    clear: right;
  }
}
