@import "buttons";
@import "navigation";
*,
*:after,
*:before {
  box-sizing: border-box;
}
html {
  font-family: "Whitney SSm A", "Whitney SSm B", "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
}
body {
  margin: 0;
}
html,
body {
  height: 100%;
}
label {
  color: #243b47;
  font-size: 1.1em;
}
input[type="text"] {
  border-radius: 8px;
  display: block;
  margin: 10px 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: solid 1px #dcdcdc;
}
input[type="text"]:focus {
  outline: none;
}
.wraper {
  display: flex;
  align-items: stretch;
}
.main {
  flex: 1 1 auto;
  -webkit-box-flex: 1;
  h1 {
    letter-spacing: 3px;
    font-size: 2.5em;
    font-weight: lighter;
    margin: 20px 0;
  }
  .container {
    padding: 20px;
    width: 80%;
    min-width: 700px;
    .todoList {
      margin: 10px 0 20px 0;
      font-size: 0.9em;
      min-height: 300px;
      .todoHeader {
        margin-bottom: 5px;
        letter-spacing: 1px;
        a {
          float: right;
        }
      }
      .todoText {
        margin-bottom: 5px;
      }
      .todoCompleted {
        font-style: italic;
        color: #888;
      }
      .todoItem {
        padding: 10px;
        background-color: #ececec;
      }
      .todoItem:nth-child( odd ) {
        background-color: #fafafa;
      }
    }
  }
  .filters {
    text-align: center;
    margin-top:10px;
  }
  .filter {
    min-width: 100px;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: #9a9a9a;
    border-radius: 2px;
    a {
      color: white;
      text-decoration: none;
    }
  }
  .selected {
    background-color: #243b47;
  }
  .footer {
    padding: 20px 30px;
    background-color: #345566;
    color: white;
    font-size: 0.7em;
    clear: right;
  }
}
